
.corp-offer{
  background:var(--bg-secondary);
}

.corp-offer__grid{
  margin-top:50px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

.offer-card{
  background:#fff;
  padding:35px 25px;
  border-radius:14px;
  text-align:center;
}