.about-preview{
  background:var(--bg-secondary);
}

.about-preview__grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}

.about-preview__left{
  max-width:520px;
  border-radius: 16px;
}

/* IMAGE CONTAINER */

.about-images{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.about-image{
  width:100%;
  aspect-ratio:4/5;
  object-fit:cover;
  border-radius:18px;

  box-shadow:
    0 40px 80px rgba(0,0,0,0.05),
    0 10px 30px rgba(0,0,0,0.03);
}

.about-image img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* male trainer */

.about-image--main{
  width:70%;
  height:100%;
  left:0;
  top:0;
}

/* female trainer */

.about-image--secondary{
  width:60%;
  height:80%;
  right:0;
  bottom:0;
}

/* TEXT */

.about-preview__tag{
  font-size:12px;
  letter-spacing:3px;
  color:var(--accent);
  margin-bottom:18px;
}

.about-preview__right h2{
  font-size:42px;
  line-height:1.2;
  margin-bottom:22px;
}

.about-preview__right p{
  margin-bottom:18px;
  max-width:520px;
}

/* RESPONSIVE */

@media(max-width:1024px){

.about-preview__grid{
  grid-template-columns:1fr;
  gap:50px;
}

.about-images{
  height:380px;
}

}

@media(max-width:768px){

.about-images{
  height:320px;
  grid-template-columns:1fr;
}

.about-image--secondary{
  width:65%;
  height:75%;
}

}