.authority{
  background:#fff;
}

/* GRID LAYOUT */

.authority__grid{
  display:grid;
  grid-template-columns:1fr 1.2fr;
  gap:60px;
  align-items:center;
}

/* TAG */

.authority__tag{
  font-size:12px;
  letter-spacing:3px;
  color:var(--accent);
  margin-bottom:18px;
}

/* TEXT */

.authority__left h2{
  margin-bottom:22px;
}

.authority__left p{
  margin-bottom:16px;
  max-width:560px;
}

/* STATS */

.authority__stats{
  display:flex;
  gap:50px;
  margin:30px 0 35px 0;
}

.authority__stats h3{
  font-size:28px;
  color:var(--text-dark);
}

.authority__stats span{
  font-size:13px;
  color:var(--text-light);
}

/* IMAGE AREA */

.authority__right{
  max-width:540px;
  margin:auto;
}

/* CAROUSEL */

/* .carousel-about{
  height:500px;
} */

/* SWIPER */

.carousel-about .swiper{
  width:100%;
  height:100%;
}

/* SLIDE */

.carousel-about .swiper-slide{
  display:flex;
  align-items:center;
  justify-content:center;
}

/* IMAGE */

/* .carousel-about img{
  width:100%;
  height:100%;
  object-fit:contain;
  border-radius:20px;

  box-shadow:
    0 40px 80px rgba(0,0,0,0.06),
    0 10px 30px rgba(0,0,0,0.04);
} */

/* TABLET */

@media(max-width:1100px){

.authority__grid{
  grid-template-columns:1fr;
  gap:60px;
}

}

/* MOBILE */

@media(max-width:768px){

.carousel-about{
  height:420px;
}

.authority__stats{
  gap:30px;
}

}