
.final-cta{
  background:linear-gradient(
    180deg,
    #F3F1EA 0%,
    #EFECE6 100%
  );
}

.final-cta__inner{
  max-width:700px;
  margin:auto;
}

.final-cta__tag{
  font-size:12px;
  letter-spacing:3px;
  color:var(--accent);
  margin-bottom:18px;
}

.final-cta__inner h2{
  margin-bottom:22px;
}

.final-cta__inner p{
  margin-bottom:35px;
}

.final-cta__buttons{
  display:flex;
  justify-content:center;
  gap:18px;
}